* {
    background: #ffF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* ------------- HEADER -------------- */
.col-Header-Left p {
    position: relative;
    top: 40px;
    font-size: 12px;
}

.col-Header h1 {
    font-size: 30px;
    text-shadow: 0px 0 6px #505050;
    margin: 0;
}

.col-Header-Left img {
    width: 80px;
    margin-right: 20px;
}

.col-Header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;


}


.col-Header-Left {
    display: flex;
    flex: 1;
    padding-left: 10px;
}


.col-Header-Center {
    flex: 2;
    text-align: center;
}

.col-Header-Right {
    display: flex;
    flex: 1;
    padding-right: 10px;
    position: relative;
    width: 300px;
}


.col-Header-Right input[type="text"] {
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
}

.col-Header-Right button[type="submit"] {
    position: absolute;
    right: 23px;
    top: 3px;
    padding: 5px 10px;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#col-Input-Buscar {
    width: 100%;
    border-radius: 15px;
    padding: 2px;
}

/*---TERMINA HEADER----*/

/*Elementos P y label*/
#rum-P-Title-Datos-Generales,
#rum-P-Title-Datos-Maquina-Vehiculo,
#rum-P-Title-Datos-Control,
#rum-P-Title-Odometro-Horometro,
#rum-P-Title-Actividades-Horas-Campo,
#rum-P-Title-Ubicacion-Trabajos-Reporte-Fallas {
    display: inline-block;
    position: relative;
    bottom: 18px;
    color: #ED1D24;
    padding: 0 5px;
    font-size: 18px;
}

label {
    display: inline-block;
    position: relative;
    top: 3px;
    color: #ED1D24;
    padding: 0 5px;
    font-size: 14px;

}

/*Termina Elementos P " */

/*Contenedor padre y Formulario  */
.rum-Div-Padre {
    height: auto;
    width: 100%;
  
    padding: 0.5em;
}

.rum-Formulario-Padre {
    height: auto;
    width: 100%;
    
}

/*contenedor PADRE DE  datos generales y maquina vehiculo y HIJOS  */
.rum-Datos-Generales-Maquina-Vehiculo {
    display: flex;
    height: 15vh;
    width: 100%;
    margin-bottom: 1.875rem;
}

.rum-Datos-Generales {
    display: flex;
    width: 50%;
    border: 1px solid #030303;
    margin-right: 0.625rem;
}

.rum-Datos-Generales-Dividir,
.rum-Datos-Maquina-Vehiculos-Dividir {
    width: 100%;

}

.rum-Datos-Maquina-Vehiculos {
    width: 50%;
    border: 1px solid #030303;
}

.rum-Div-Datos-Generales-Centro,
.rum-Div-Datos-Maquina-Vehiculo-Centro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

.rum-Div-Contenido-1,
.rum-Div-Contenido-2,
.rum-Div-Contenido-3,
.rum-Div-Contenido-4,
.rum-Div-Contenido-5,
.rum-Div-Contenido-6 {
    width: 100%;
}

.rum-Div-Contenido-1,
.rum-Div-Contenido-2,
.rum-Div-Contenido-4,
.rum-Div-Contenido-5 {
    margin-right: 10px;
}


.rum-Div-Contenido-1 input,
.rum-Div-Contenido-2 input,
.rum-Div-Contenido-3 input,
.rum-Div-Contenido-4 input,
.rum-Div-Contenido-5 input,
.rum-Div-Contenido-6 input {
    width: 100%;
    height: 32px;
    border-radius: 6px;
    font-size: 14px;
    border: 2px solid rgb(0, 0, 0);
    background: #fff;
    color: #000;
    outline: none;
}

/*Termina contenedor PADRE DE  datos generales y maquina vehiculo y HIJOS  */


/*Contenedor de datos de control */
.rum-Div-Datos-Control {
    height: 15vh;
    width: 100%;
    border: 1px solid #030303;
    margin-bottom: 1.875rem;
}

.rum-Datos-Control-Dividir {
    width: 100%;
}

.rum-Div-Datos-Control-Centro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.rum-Div-Contenido-7,
.rum-Div-Contenido-8,
.rum-Div-Contenido-9,
.rum-Div-Contenido-10 {
    width: 100%;
}

.rum-Div-Contenido-7,
.rum-Div-Contenido-8,
.rum-Div-Contenido-9 {
    margin-right: 10px;
}

.rum-Div-Contenido-7 input,
.rum-Div-Contenido-8 input,
.rum-Div-Contenido-9 input,
.rum-Div-Contenido-10 input {
    width: 100%;
    height: 32px;
    border-radius: 6px;
    font-size: 14px;
    border: 2px solid rgb(0, 0, 0);
    background: #fff;
    color: #000;
    outline: none;
}

/*Termina Contenedor de datos de control */


/*Contenedor de odometro y horometro */
.rum-Div-Odometro-Horometro {
    height: auto;
    width: 100%;
    border: 1px solid #030303;
    margin-bottom: 1.875rem;
}
.CONTENEDORES-DE-IMAGENES {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    margin-bottom: 30px;
}


.CONTENEDOR-IMAGEN,
.CONTENEDOR-IMAGEN-2,
.CONTENEDOR-IMAGEN-3,
.CONTENEDOR-IMAGEN-4{
    margin: auto;
    border: solid;
    background: white;
    width: 20%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* Cambia la dirección de los elementos a columna */
    align-items: center;
    justify-content: center;
}

#video,
#video-2,
#video-3,
#video-4{
    width: 100%;
    max-width: 640px;
    display: none;
}

.captura-info,
.captura-info-2,
.captura-info-3,
.captura-info-4 {
    display: flex;
    flex-direction: column;
    /* Cambia la dirección de los elementos a columna */
    align-items: center;
}

#abrirCamara,
#abrirCamara-2,
#abrirCamara-3,
#abrir-Camara-4{
    background: rgb(255, 255, 255);
}

#fechaHoraCaptura,
#fechaHoraCaptura-2,
#fechaHoraCaptura-3,
#fechaHoraCaptura-4{
    /* Estilo opcional para la fecha y hora debajo de la imagen */
    margin-top: 10px;
    /* Agrega espacio entre la imagen y la fecha/hora */
}


#imagenCapturada img,
#imagenCapturada-2 img,
#imagenCapturada-3 img,
#imagenCapturada-4 img{
    max-width: 100%;
    height:
        auto;
}

#imagenCapturada,
#imagenCapturada-2,
#imagenCapturada-3,
#imagenCapturada-4 {
    max-width: 100%;
    /* El ancho máximo del contenedor de imagen capturada */
    max-height: 80vh;
    /* La altura máxima del contenedor de imagen capturada */
    overflow: hidden;
    /* Ocultar el contenido que se desborda */
}

#tomarFoto,
#tomarFoto-2,
#tomarFoto-3,
#tomarFoto-4{
    width: 12%;
    height: 5vh;
    border-radius: 50%;
    background: red;
    border: solid;
}

/* Estilo para ocultar el botón "Borrar Foto" inicialmente */

#borrarFoto,
#borrarFoto-2,
#borrarFoto-3,
#borrarFoto-4{
    display: none;
}


.capture-button,
.capture-button-2,
.capture-button-3,
.capture-button-4 {
    position: absolute;
    width: 50px;
    /* Ajusta el tamaño según tus preferencias */
    height: 50px;
    /* Ajusta el tamaño según tus preferencias */
    background-color: #ff0000;
    /* Cambia el color de fondo a tu elección */
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    bottom: 10px;
    /* Ajusta la posición vertical según tus preferencias */
    left: 50%;
    /* Centra horizontalmente */
    transform: translateX(-50%);
    /* Centra horizontalmente */
    display: none;
}

.camera-container,
.camera-container-2,
.camera-container-3,
.camera-container-4{
    position: relative;
}

#abrirCamara,#abrirCamara-2,
#abrirCamara-3,#abrirCamara-4{
    border-radius: 12px;
}
/*Termina Contenedor de odometro y horometro */

/*Contenedor de control de actividades horas campo */
.rum-Div-Control-Actividades-Horas-Campo {
    height: auto;
    width: 100%;
    border: 1px solid #030303;
    margin-bottom: 1.875rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}


.CONTENEDOR-IMAGEN-5,
.CONTENEDOR-IMAGEN-6,
.CONTENEDOR-IMAGEN-7,
.CONTENEDOR-IMAGEN-8,
.CONTENEDOR-IMAGEN-9,
.CONTENEDOR-IMAGEN-10,
.CONTENEDOR-IMAGEN-11{
    margin: auto;
    border: solid;
    background: white;
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* Cambia la dirección de los elementos a columna */
    align-items: center;
    justify-content: center;
}

#video-5,
#video-6,
#video-7,
#video-8,
#video-9,
#video-10,
#video-11{
    width: 100%;
    max-width: 640px;
    display: none;
}

.captura-info-5,
.captura-info-6,
.captura-info-7,
.captura-info-8,
.captura-info-9,
.captura-info-10,
.captura-info-11 {
    display: flex;
    flex-direction: column;
    /* Cambia la dirección de los elementos a columna */
    align-items: center;
}

#abrirCamara-5,
#abrirCamara-6,
#abrirCamara-7,
#abrirCamara-8,
#abrirCamara-9,
#abrirCamara-10,
#abrirCamara-11{
    background: rgb(255, 255, 255);
}

#fechaHoraCaptura-5,
#fechaHoraCaptura-6,
#fechaHoraCaptura-7,
#fechaHoraCaptura-8,
#fechaHoraCaptura-9,
#fechaHoraCaptura-10,
#fechaHoraCaptura-11{
    /* Estilo opcional para la fecha y hora debajo de la imagen */
    margin-top: 10px;
    /* Agrega espacio entre la imagen y la fecha/hora */
}


#imagenCapturada-5 img,
#imagenCapturada-6 img,
#imagenCapturada-7 img,
#imagenCapturada-8 img,
#imagenCapturada-9 img,
#imagenCapturada-10 img,
#imagenCapturada-11 img{
    max-width: 100%;
    height:
        auto;
}

#imagenCapturada-5,
#imagenCapturada-6,
#imagenCapturada-7,
#imagenCapturada-8,
#imagenCapturada-9,
#imagenCapturada-10,
#imagenCapturada-11 {
    max-width: 100%;
    /* El ancho máximo del contenedor de imagen capturada */
    max-height: 80vh;
    /* La altura máxima del contenedor de imagen capturada */
    overflow: hidden;
    /* Ocultar el contenido que se desborda */
}

#tomarFoto-5,
#tomarFoto-6,
#tomarFoto-7,
#tomarFoto-8,
#tomarFoto-9,
#tomarFoto-10,
#tomarFoto-11{
    width: 12%;
    height: 5vh;
    border-radius: 50%;
    background: red;
    border: solid;
}

/* Estilo para ocultar el botón "Borrar Foto" inicialmente */

#borrarFoto-5,
#borrarFoto-6,
#borrarFoto-7,
#borrarFoto-8,
#borrarFoto-9,
#borrarFoto-10,
#borrarFoto-11{
    display: none;
}


.capture-button-5,
.capture-button-6,
.capture-button-7,
.capture-button-8,
.capture-button-9,
.capture-button-10,
.capture-button-11 {
    position: absolute;
    width: 50px;
    /* Ajusta el tamaño según tus preferencias */
    height: 50px;
    /* Ajusta el tamaño según tus preferencias */
    background-color: #ff0000;
    /* Cambia el color de fondo a tu elección */
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    bottom: 10px;
    /* Ajusta la posición vertical según tus preferencias */
    left: 50%;
    /* Centra horizontalmente */
    transform: translateX(-50%);
    /* Centra horizontalmente */
    display: none;
}

.camera-container-5,
.camera-container-6,
.camera-container-7,
.camera-container-8,
.camera-container-9,
.camera-container-10,
.camera-container-11{
    position: relative;
}

#abrirCamara-5,#abrirCamara-6,
#abrirCamara-7,#abrirCamara-8,
#abrirCamara-9,#abrirCamara-10,
#abrirCamara-11{
    border-radius: 12px;
}

/*Termina Contenedor de control de actividades horas campo */

/*Contenedor  ubicacion trabajos reportes y fallas */
.rum-Div-Ubicacion-Trabajos-Reporte-Fallas {
    height: 30vh;
    width: 100%;
    border: 1px solid #030303;
    margin-bottom: 1.875rem;
}
.rum-Div-Ubicacion-Trabajos-Reporte-Fallas-Dividir{
    width: 100%;
}

.rum-Div-Tramo-Subtramo-Margen-Centro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1.875rem;
}

.rum-Div-Contenido-11,
.rum-Div-Contenido-12,
.rum-Div-Contenido-13{
    width: 100%;
}

.rum-Div-Contenido-11,
.rum-Div-Contenido-12{
    margin-right: 10px;
}

.rum-Div-Contenido-11 input,
.rum-Div-Contenido-12 input,
.rum-Div-Contenido-13 input{
    width: 100%;
    height: 32px;
    border-radius: 6px;
    font-size: 14px;
    border: 2px solid rgb(0, 0, 0);
    background: #fff;
    color: #000;
    outline: none;
}
.rum-Div-Rendimiento-Operatividad-Causa{
    display:flex;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

.rum-Div-Contenido-14{
    width: 67%;
    height: 52px;
    border: 2px solid #030303;
    border-radius: 6px;
    margin-right: 10px;
}
#rum-P-Title-Rendimiento-Operatividad-Causa{
    display: inline-block;
    position: relative;
    bottom: 18px;
    color: #ED1D24;
    padding: 0 5px;
    font-size: 14px;
}
.rum-Div-Rendimiento-Operatividad-Causa-Dividir{
    width: 100%;
}
.rum-Rendimiento-Operatividad-Causa-Dividir-Centro{
    display: flex;
    justify-content: space-around;
}
.rum-Div-Contenido-15{
    width: 33%;
    border-radius: 6px;
   
}
.rum-Div-Contenido-15 label{
    color: #ED1D24;
    display: inline-block;
    background: white;
    position: relative;
    top: -16px;
    padding: 0 5px;
    font-size: 14px;
}
.rum-Div-Contenido-15 input{
    width: 100%;
    height: 52px;
    border-radius: 6px;
    font-size: 14px;
    border: 2px solid rgb(0, 0, 0);
    background: #fff;
    color: #000;
    outline: none;
    position: relative;
    bottom: 19px;
}
/*Termina Contenedor  ubicacion trabajos reportes y fallas */

/*Contenedor de Firmas */
.rum-Div-Firmas {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin-bottom: 1.875rem;

}

.rum-Firma-Operador,
.rum-Firma-Lider-Proyecto,
.rum-Firma-Cliente {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 30vh;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
}

.rum-Firma-Operador p,
.rum-Firma-Lider-Proyecto p,
.rum-Firma-Cliente p {
    margin: 0; 
    color: #ED1D24;
    font-size: 14px;/* Ajuste para eliminar el espacio predeterminado del párrafo */
}
/*Termina Contenedor de Firmas */

/*Contenedor de botones */
.rum-Div-Botones {
    display:flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    
}

#rum-Btn-Limpiar{
    width: 10%;
    height: 4vh;
    border: 2px solid;
    cursor: pointer;
    background:#E3F5FF;
    border-radius: 4px;
}

#rum-Btn-Limpiar:hover{
  background: #A6DFFF;
}

#rum-Btn-Limpiar:active{
    background: #5BC4FF;
  }

#rum-Btn-Guardar{
    width: 10%;
    height: 4vh;
    border: 2px solid #030303;
    cursor: pointer;
    background:#FF8888;
    border-radius: 4px;
    color: #ffF;
    margin-bottom: 20px;
}
#rum-Btn-Guardar:hover{
    background:#FF5555;
}
#rum-Btn-Guardar:active{
    background:#FF2323;
}


/*Termina Contenedor de botones */


