/* ------------- HEADER -------------- */
.mod-Header-Left p {
    position: relative;
    top: 40px;
    font-size: 12px;
}

.mod-Header h1 {
    font-size: 30px;
    text-shadow: 0px 0 6px #505050;
    margin: 0;
}

.mod-Header-Left img {
    width: 80px;
    margin-right: 20px;
}

.mod-Header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}


.mod-Header-Left {
    display: flex;
    flex: 1;
    padding-left: 0;
}


.mod-Header-Center {
    flex: 2;
    text-align: center;
}

.mod-Header-Right {
    display: flex;
    flex: 1;
    padding-right: 10px;
    position: relative;
    width: 300px;
}


.mod-Header-Right input[type="text"] {
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
}

.mod-Header-Right button[type="submit"] {
    position: absolute;
    right: 23px;
    top: 5px;
    padding: 5px 10px;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
    background: transparent;
}

#mod-Input-Buscar {
    width: 100%;
    border-radius: 15px;
    padding: 2px;
}

#mod-BuscarBtn {
    position: relative;
    height: 3vh;
    right: 2.188rem;
    top: 0.325rem;
    border: none;

}

/*---TERMINA HEADER----*/
/*Contenedor padre*/
.mod-Padre-Container {
    height: auto;

    padding: 0.5em;
}

/*Carrusel*/
.mod-Carrusel-Container {
    max-width: 2000px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.25rem;
}

.slide {
    display: none;
}

img {
    width: 100%;
}

.fade {
    animation: fade 2s ease-in-out infinite;
}

/*Termina carrusel*/

.mod-Modulos {
    height: 30vh;
    width: 100%;
    display: flex;
  
}

.mod-Colaboradores {
    width: 30%;
    height: 15vh;
    background: #FF8888;
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    cursor: pointer;
}

.mod-Colaboradores:hover{
    background: #CA2126;
}
.mod-Colaboradores:active{
    background:  #A10005;
}
/*
.mod-Rum {
    width: 30%;
    height: 15vh;
    border-radius: 10px;
    border: 2px solid;
    background: #FF8888;
}
*/
.mod-left {
    width: 50%;
    min-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mod-left img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.mod-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    color: white;
}

